<h2 class="mb-5">Encuesta</h2>

<div class="row row-cols-3 justify-content-center">
  <form (ngSubmit)="create()" [formGroup]="form">
    <div class="mb-3">
      <label for="email">Email</label>
      <input class="form-control" formControlName="email" id="email" placeholder="Email" type="email">
      <div *ngIf="form.controls.email.invalid && (form.controls.email.dirty || !form.controls.email.untouched)"
           class="text-danger">
        <div *ngIf="form.controls.email.errors">Email es requerido.</div>
        <div *ngIf="form.controls.email.errors">Formato de email inválido.</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="musicStyle">Estilo Musical</label>
      <select class="form-control" formControlName="musicStyle" id="musicStyle">
        <option value="">Seleccione un estilo musical</option>
        <option value="Rock">Rock</option>
        <option value="Pop">Pop</option>
        <option value="Jazz">Jazz</option>
        <option value="Clásica">Clásica</option>
        <option value="Rap">Rap</option>
        <option value="Salsa">Salsa</option>
      </select>
      <div
        *ngIf="form.controls.musicStyle.invalid && (form.controls.musicStyle.dirty || !form.controls.musicStyle.untouched)"
        class="text-danger">
        <div *ngIf="form.controls.musicStyle.errors">Seleccione un estilo musical.</div>
      </div>
    </div>

    <div class="text-end">
      <button class="btn btn-light ms-2" routerLink="/home" type="button">
        Cancelar
      </button>
      <button [disabled]="form.invalid" class="btn btn-primary ms-2" type="submit">
        Guardar Preferencia
      </button>
    </div>

    <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
      {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
      {{ errorMessage }}
    </div>

  </form>
</div>
